################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FarmManager/bin/Debug/net8.0-windows
/FarmManager/obj
/FarmManager.Model/bin/Debug/net8.0
/FarmManager.Model/obj
/FarmManager.Services/obj
